.bg__batumi{
    position:absolute;
    z-index:-2;
    width: 100%;
    top:0px;
    height: 935px;
    left: 0px;
    border-radius: 0px;
    background-image:url('../images/content/layout/back_batumi_img.png');
    background-position:center;
}

.bg-car-circle{
    position:absolute;
    z-index:-1;
    @include media-breakpoint-down(md){
        //background-image:url('../images/content/circle-mob.svg');
        position: absolute;
        width: 100%;
        height: 959px;
        top: -59px;
        background: rgba(255, 105, 0, 0.43);
        -webkit-filter: blur(210px);
        filter: blur(210px);
    }
    @include media-breakpoint-up(md){
        background-image:url('../images/content/circle.svg');
    }
    background-repeat:no-repeat;
    height:1500px;
    width:792px;
    right:0px;
    top:0px;
}
