$top-margin-tablet:50px;
$top-margin-desktop:150px;

.image__main-picture{
    //позиционирование
    @include media-breakpoint-up(xl){
        height:$top-margin-desktop+550px !important;
    }

    @include media-breakpoint-between(md,xl){
        height:$top-margin-tablet+550px !important;
    }


    background-image: url('../../images/content/VW_Jetta_pr_gray3_1.png');
    @include desktop_and_tablet{
        background-position: bottom right !important;
    }
    @include media-down(1400px){
        background-size:60%;
    }
    @include mobile_only{

        background-image: url('../../images/content/VW_Jetta_pr_gray3_1_mob.png');
        background-position-y: center !important;
        background-size: 95% !important;
    }

}



.image__batumi-picture{
    background-image: url('../../images/content/layout/Hyundai_Elantra_2018_wide_1_mob.png');
    z-index:-1;
    @include media-breakpoint-up(md) {
        top:300px !important;

        background-image: url('../../images/content/layout/Hyundai_Elantra_2018_wide_1.png');
    }
}

.image__faq{
    margin-top:50px;
    height:200px !important;
    background-image: url('../../images/content/blocks/faq_stripe.png');
    background-repeat: no-repeat;


    .block-wrapper{
        position:relative;
        left:0px;
        top:0px;
        height:200px !important;

        display:flex;
        align-items:center;
        justify-content:start;
    }
    h2{
        //margin-top: 50% !important;
    }
}

.image__blog{
    margin-top:50px;
    height:200px !important;
    background-image: url('../../images/content/blocks/blogs_header.jpg');
    background-repeat: no-repeat;


    .block-wrapper{
        position:relative;
        left:0px;
        top:0px;
        height:200px !important;

        display:flex;
        align-items:center;
        justify-content:start;
    }
    h2{
        //margin-top: 50% !important;
    }
}

.bannerblock__contacts-page{
    height:200px !important;
}

.image__contacts_page{
    margin-top:50px;
    height:200px !important;
    background-image: url('../../images/content/blocks/faq_stripe.png');
    background-repeat: no-repeat;


    .block-wrapper{
        position:relative;
        left:0px;
        top:0px;
        height:200px !important;

        display:flex;
        align-items:center;
        justify-content:start;
    }
    h2{

        //margin-top: 50% !important;


    }
}

.image__contacts_page{
    margin-top:50px;
    height:200px !important;

    background-image: url('../../images/content/blocks/contacts_stripe.png');
    background-repeat: no-repeat;


    .block-wrapper{
        position:relative;
        left:0px;
        top:0px;
        height:200px !important;

        display:flex;
        align-items:center;
        justify-content:start;
    }
    h2{

        //margin-top: 50% !important;


    }
}


.bannerblock {

    //позиционирование
    @include media-breakpoint-up(xl){
        height:$top-margin-desktop+600px !important;
    }

    @include media-breakpoint-between(md,xl){
        height:$top-margin-tablet+600px !important;
    }

    &:has(.image__contacts_page){
        height: 200px !important;
    }

  position:relative;
  @include media-breakpoint-up(md) {
    height: 870px;
  }
  @include media-breakpoint-down(md) {
    height: 440px;
      @include media-up(600px){
          height: 520px;
      }
  }
  @extend .clear-paddings;
  .bg-car-right {
    height: 65px;
    width: 100%;
    @include media-breakpoint-down(md) {
      background-position-y: 0px;
      width: 100%;
      height: 246px;
         @include media-up(600px){
             height:320px;
         }
      top: 74px;
      background-position: center;
    }
    @include media-breakpoint-up(md) {

      background-position-y: 0px;
      height:831px;
    }

    background-repeat: no-repeat;
    background-position: right;
    position: absolute;
    top: 0px;
    right: 0px;
  }

  .bannerblock__wrapper{
    position:relative;
     @extend .block-wrapper;
    .bannerblock__header{
      position:absolute;
      text-align: left;
      line-height: 80px;
        @include mobile_only{
            line-height: 38px !important;
            text-align: center;
        }
        h1{
            color:$font-color-second;
        }
        span{
            @extend .mont-extra-light;
            font-size:30px;
            color:$font-color-main;
        }

        //озиционирование
        top:$top-margin-desktop;
        @include media-breakpoint-between(md,xl){
            top:$top-margin-tablet;
        }
        @include media-breakpoint-up(md){

            left:0px;
            position:absolute;
        h2{
          font-size:100px;
          color:$font-color-second;
          display: block;
          text-align: left;
        }
        span{

          @extend .mont-extra-light;
          font-size:100px;

        }
      }
        @include media-breakpoint-down(md){
            top:35px;
            width:100%;
            //line-height:0.9;
            h2{
              font-size:40px;
              display: block;
            }
            span{
              font-size:40px;
            }
        }
    }

    .bannerblock__text{
      position:absolute;
      width:100%;
      font-family:"MontExtraLight",serif;
      p{
        font-family:"MontExtraLight",serif !important;
        color:$font-color-main;
          @include media-breakpoint-down(md){
              font-family:"MontExtraLight",serif;
          }
      }
//позиционирование
        top:$top-margin-desktop+170px;
        @include media-breakpoint-between(md,xl){
            top:$top-margin-tablet+170px;
        }

      @include media-breakpoint-up(md){
        text-align:left;

        //top:200+$top-margin-size;

        left:0px;
        p{
          font-size:42px;
          line-height: 54px;
        }
      }

      @include media-breakpoint-down(md){
        @include media-up(600px){
            top:380px;
        }
        top:310px;
        text-align:center;
      }

    }

    .bannerblock__button{
      position:absolute;
      width:100%;
      //top:335px+$top-margin-size;
      text-align: left;
      @include media-breakpoint-up(md) {
        button {
          min-height: 85px;
          min-width: 280px;

        }
      }

        //позиционирование
      top:$top-margin-desktop+350px;
      @include media-breakpoint-between(md,xl){
          top:$top-margin-tablet+350px;
      }

      @include mobile_only {
        text-align: center;
        top:340px;
          @include media-up(600px){
              top:420px;
          }
        button {
            margin-top: 20px;
            min-height: 40px;
            span {
                font-size: 16px !important;
            }
            min-width: 120px;

        }
      }
    }
  }
}

.ffs{
    font-family:"MontExtraLight",serif !important;
}
